---
title: "default"


# scope and resolution ---------------------------------------------------------

### time steps ###
# stocks are given at the timestep, flows in the period until the timestep
periods: [2000, 2005, 2010, 2015, 2020, 2025, 2030, 2035, 2040, 2045, 2050,
          2055, 2060, 2070, 2080, 2090, 2100, 2110, 2130, 2150]

### start year ###
# first free time step
# there has to be at least one time step before to start from known stock
startyear: 2005

### end year ###
# later time steps are not shown in plots
# no impact on results
endyear: 2100

### calibration periods ###
# time steps on which to conduct the calibration
calibperiods: NULL

### granularity ###
# name of the BRICK granularity setting
  # NULL: full granularity according to inst/extdata/sectoral/dim_*.csv
  # name: granularity setting, defined in inst/extdata/sectoral/granularity.csv
granularity: onlyRes

### region mapping ###
# file that maps countries to modelled regions
  # []: country-level resolution
  # [path]: file path to regionmapping
  # [name, where]: regionmapping via toolGetMapping
regionmapping: []

### regions ###
# list of region codes
# used only select specific regions from a mapping
  # NULL: all regions from mapping
regions: NULL

### ignore building shell ###
# ignore differences in building shells and only differentiate heating systems
# Building shell efficiency is still different depending on region, vintage,
#  location, etc. but cannot be changed through renovation. There is just one
#  building shell efficiency for new construction.
# reduced problem
  # TRUE
  # FALSE
ignoreShell: FALSE

### status quo preference ###
# preference to replace heating system by the same technology during renovation
# investment cost mark up on the choice of a different technology in USD/m2
statusQuoPreference: 20

### calibration ###
# intangible cost assumption files
# paths to csv files with assumptions on the intangible cost for construction
#  and renovation.
  # []: default files stored internally in inst/assump/
  # {con: 'path/to/file1.csv', ren: 'path/to/file2.csv'}
intangCostFiles: []

### reporting template ###
# alternative reporting mapping
# There has to be a mapping in the package reportbrick named with the same
#  suffix: brickSets_<reportingTemplate>.yaml
  # NULL: default reporting
  # onlyRes: default reporting without commercial buildings
  # ignoreShell_onlyRes: ignore building shell + no commercial buildings
reportingTemplate: onlyRes

### historic run ###
# run to consider as history before startyear
  # NULL: no history before this run
  # <file path>: either directory of model run or path of specific gdx file
  # <scenario name>: pick most recent run with this name in output folder
historic: NULL


# slurm settings ---------------------------------------------------------------

### slurm quality of service (= QOS)
slurmQOS: NULL

### tasks per node
tasksPerNode: NULL

### Whether to use a node with up to 32 tasks
tasks32: FALSE


# data -------------------------------------------------------------------------

### input data revision ###
inputRevision: "0.8.6"

### force download ###
# force the model to download new input data even though it seems unchanged
  # TRUE
  # FALSE
forceDownload: FALSE

### starting point ###
# path to previous model run to use as initial starting point
startingPoint: NULL

### mathcing run ###
# path to matching run
# only for calibration
# TODO: to be removed when migrating to mredgebuidlings
matchingRun: NULL


# solvers ----------------------------------------------------------------------

gamsCall:  gams
solverLP:  cplex
solverNLP: conopt4
solverQCP: cplex


# switches ---------------------------------------------------------------------

## input switches ====

### population scenario ###
  # SSP1 - SSP5
  # SDP_EI, SDP_MC, SDP_RC
popScenario: SSP2

### floor space scenario ###
# scenario for the floor space per capita
# currently taken from EDGE-B
  # SSP1 - SSP5
  # SDP_EI, SDP_MC, SDP_RC
fsScenario: SSP2

### ban heating systems ###
# named list with last period of allowed installation
  # e.g. {renovation: {sobo: 2025, libo: 2030}, construction: {libo: 2035}}
boilerBan: []

### carbon price ###
# named list with carbon price in USD/t_CO2
  # e.g. {2022: 0, 2030: 300, 2050: 500}
carbonPrice: []

### shift of heating system life time ###
# named list with the shift in the Weibull scale parameter in yr
  # e.g. {sobo: 3, libo: 2}
ltHsShift: []

### scaling factor for building life time ###
# scales scale parameter of the Weibull distribution
ltFactor: 1

### eternal building share
# share of buildings that never have to be demolished (e.g. monuments)
# The demolition probability distribution function approaches 1 minus this value
ltEternalShare: 0

### carrier prices ###
# scenario of future energy carrier prices
  # low:     low estimates
  # central: central estimates
  # high:    high estimates
carrierPrices: central

### carrier emission intensity ###
# scenario of future energy carrier emission intensity
# all combustion fuels assumed constant
# TODO: parameterise supply decarbonisation in config
  # low:     decarbonised electricity after 2035, district heat after 2045
  # central: decarbonise electricity to 10% and district heat to 20% of todays
  #          intensity until 2050
  # high:    emission intensities remain at current levels
carrierEmi: high

### Price sensitivity ###
# price sensitivity during renovation and construction for the
#  choice of building shell (bs) and heating system (hs)
# heterogeneity benefit is weighted by the inverse of this number in the
#  objective function
# should usually not be changed as scenario assumption
priceSens:
  bs:
    construction: 0.1
    renovation: 0.08
  hs:
    construction: 0.1
    renovation: 0.08


## model switches ====
# passed to gams

switches:

  ### type of model run ###
  # Some gams runs during calibration can be declared `scenario`. The switch
  #  CALIBRATIONMETHOD is the definite identification of calibration runs.
    # scenario:    run of future scenario
    # calibration: calibration to historic stock or flows
    # matching:    matching historic stocks and flows to sources
  RUNTYPE: scenario

  ### type of calibration run ###
    # NULL:         no calibration run
    # logit:        calibration heuristic treating BRICK like a logit model
    # optimization: calibration through outer optimization around BRICK
  CALIBRATIONMETHOD: NULL

  ### optimisation problems to solve ###
  # solving an LP first can help to start from a good initial point
    # lp:    linear problem (incomplete)
    # nlp:   non-linear problem
    # lpnlp: first lp then start nlp from there
    # auto:  nlp if startingPoint is set, else lpnlp
  SOLVEPROBLEM: lpnlp

  ### Parallel solving ###
  # parallel solving of nlp for each subs
    # TRUE
    # FALSE
  PARALLEL: TRUE

  ### Early demolition ###
  # allow demolition of buildings before end of life time
    # TRUE
    # FALSE
  EARLYDEMOLITION: FALSE

  ### Calibration type ###
  # Calibration on which quantity?
    # stocks
    # stockszero (currently not supported on R-side)
    # flows
  CALIBRATIONTYPE: NULL

  ### Target function ###
  # Target function of the calibration
    # minsquare
    # maxlikely
  TARGETFUNCTION: NULL

  ### Artificial (and extreme) decrease of OPEX ###
  # Pass the HS that should have decreased OPEX
  # TODO: Temporary! (As corresponding if clauses in GAMS code)
  CALIBRATIONLOWOP: FALSE

  ### Aggregation dimension ###
  # Dimension to aggregate during calibration
    # FALSE
    # vin
  AGGREGATEDIM: FALSE


# gams parameters --------------------------------------------------------------
# passed to gams

gamsOptions:

  ### log file option ###
    # 2: log output to log file
  logoption: 2

  ### page width ###
    # page width of log file (max number of characters in one line)
  pw: 185

  ### solver option file ###
  # Default option file for the gams solver
    # 0: none
    # 1:    <solverName.opt>, (e.g. conopt.opt)
    # 2:    <solverName.op2>, (e.g. conopt.op2)
  optfile: 0


# parameters for calibration -----------------------------------

calibrationParameters:
  stepSizeInit: 80
  iterations: 50
  iterationsArmijo: 50
  sensitivityArmijo: 0.01
  stepReduction: 0.5
  deltaDiffQuotient: 0.1
  modifyData: FALSE
...
